.jobMain {
  background-color: #121212;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.jobType {
  color: #ffffff;
}
.comImg {
  height: 65px;
  width: 65px;
}
.companyset1 {
  background-color: #202020;
  width: 90vw;
  height: 80vh;
  margin: 18px;
  padding: 17px;
  border-radius: 6px;
}
.jobtitle {
  color: #f8fafc;
  font-size: 18px;
  font-family: Roboto;
}
.jobRating {
  color: #f8fafc;
  font-size: 16px;
  font-family: Roboto;
  margin: 4px;
}
.jobSet {
  display: flex;
  margin: 4px;
  flex-direction: column;
}
.set345 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.jobSet {
  margin: 7px;
}
.ratingset {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.star {
  color: #fbbf24;
}
.location {
  display: flex;
  flex-direction: row;
}
.loc {
  color: #f8fafc;
  font-family: Roboto;
  font-size: 14px;
  margin: 6px;
  margin-bottom: 0px;
}
.location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.rate {
  display: flex;
  flex-direction: row;
}
.ratingset1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px;
}
.image123 {
  color: #ffffff;
  height: 20px;
  width: 20px;
}
.loc1 {
  color: #f8fafc;
  font-family: Roboto;
  font-size: 16px;
  margin: 6px;
  margin-bottom: 0px;
}
.paraJob {
  color: #f8fafc;
  font-family: Roboto;
  font-size: 16px;
}
.jobDec {
  color: #f8fafc;
  font-family: Roboto;
  font-size: 19px;
}
.loc2 {
  color: #f8fafc;
  font-family: Roboto;
  font-size: 18px;
  margin: 6px;
  margin-bottom: 0px;
}
.skillset {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px;
  margin-left: 25px;
  margin-right: 25px;
}
.skillsBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.skillImg {
  height: 60px;
  width: 60px;
}
.companyBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.loc3 {
  color: #f8fafc;
  font-family: Roboto;
  font-size: 17px;
  margin: 15px;
  margin-bottom: 0px;
}
.companyImg {
  height: 150px;
  width: 400px;
}
.SimilarBox {
  padding: 10px;
  background-color: #272727;
  height: 400px;
  width: 250px;
  border-radius: 4px;
  margin: 18px;
}
.SimilarMain {
  padding: 55px;
}
.SimilarSet {
  display: flex;
  flex-direction: row;
}
.comImg1 {
  height: 45px;
  width: 45px;
}
.jobtitle1 {
  color: #f8fafc;
  font-size: 12px;
  font-family: Roboto;
}
.jobRating1 {
  color: #f8fafc;
  font-size: 10px;
  font-family: Roboto;
  margin: 4px;
}
.dech{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}